*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.blocHorizontal{
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.container{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* internet explorer et mozilla */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}

 .one{
    background: #1E0F1C;

 }
.two,.three,.four,.five,.six{
    background: #1E0F1C;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.titleSection{
    background-color: yellow;
    background-image: url(/images/domain_dev_23222b-1024x512.jpg);
    border: solid 1px #A7001E ;
    height: 200px;
    width: 40vw;
}
.content{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 90vh;
    margin-top: 40px;

}
.content section{
    height: 70%;
    background-color: #a7001ec4;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: floralwhite;
    padding: 15px;
    gap: 10px;
    letter-spacing: 1px;
}
.content section p{
    line-height: 17px;
}
.allProjects{
     width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;
}

@keyframes sauter {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(42px);
    }
}
.projects{
   width: 40vw;
   margin-top: 40px;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
animation: sauter 1.5s linear 1s infinite alternate ;
}
.objet2{
    width: 200px;
    height: 100px;
    background-color: yellow;
      box-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 15px white;
}

.ombreEtObjet{
    display: flex;
    flex-direction: column;
    /* gap: 35px; */
}
.ombreEtObjet:hover{
 
    animation: tourner 6s linear 1s infinite alternate;
    .triangle, .ombre2{
        display: block;
    }
    .triangle{
  top: 25%; /* juste sous .objet2 */

    }
    .objet2{
     box-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 15px white;
    margin-top: -100px;
    
}
}
@keyframes tourner {
    from {
        transform: rotateY(0);
    }
    to {
       transform: rotateY(12rad) translateX(-20%); 
    }
}
.ombre2{
        width: 100px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.934);
    margin-left: 50px;
    border-radius: 50%;
    filter: blur(10px);
    transform: scaleX(2); 
    display: none;  
}
.triangle{
        position: absolute;
  top: 54%; 
  left: 51%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-top: 70px solid rgba(255, 255, 255, 0.07); /* lumière blanche douce */
  filter: blur(15px);
  z-index: 0;
  display: none;
}
.ombreEtObjet 
header{
    margin-top: 15px;
    position: fixed;
    background-color: #1E0F1C;
    font-size: 24px;
     position: fixed;
    z-index: 1000; 
    font-size: 24px;
    width: 100%;;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li a{
    text-decoration: none;
    color: white;
   font-family: 'Briston', sans-serif;  

}

header nav ul li a:hover{
    color: #A7001E
}
h2{
  font-family: 'Briston', sans-serif;  
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 40px;
}
h3{
  font-family: 'Briston', sans-serif;  
  font-size: 20px;
}




